<h1>Listing projects</h1>
<h2>From <%= current_user.name%></h2>
<div id=index_project>
<% @projects.each do |project| %>
<% @project = project%>
<%= render 'project_table'%>
<br/>
<% end %>
</div>
<%= link_to 'Add Project', new_project_path, :remote => true %>
